.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview__info {
  color: darkorange;
  -webkit-text-fill-color: darkred;
  -webkit-text-stroke-width: 1px;
  font-family: 'Arial Black';
  margin: auto;
  font-weight: 600;
}

.fighter-preview___img_small {
  height: 100px;
  margin: auto;
}

.fighter-preview___transform {
  transform: scaleX(-1);
}